body
{
    background-color: azure;

}

.cover-section{
    background-color: azure;
    padding: 20px 10px;
    border-radius: 10px;
}
.cover-section {
    border: 3px solid white;
    border-radius: 20px;
}
a {
    color: white;
    text-decoration: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.main-logo {
    width: 70px;
}
.dev-title{
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.dev-img{
    margin:  auto;
}
.dev-dtl{
    text-align: center;
}
.dev-dtl p{
    font-size: 20px;
    line-height: 1;
    margin-left: 20px;
}
.navbar-nav .active{
    font-weight: 600;
    color: red !important;
}
footer
{
    margin: 30px 0px;
    text-align: center;
    color: #6f6e6e;
}

footer a{
    color: brown;
}
